/* This file is for your main application css. */

#photo-break {
  height: 120px;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.flash-info-error {
  margin-top: 1rem;
}

hr.footer {
  margin-top: 5rem;
}

.search-form {
  margin-bottom: 1rem;
}
