<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="A Guide to Trails, Camping, and Hiking in Colorado and beyond.">
    <meta name="author" content="Various Artists">

    <title>I found a rock!</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <%= render_existing( @view_module, "scripts_before." <> @view_template, assigns ) %>
  </head>

  <body>

    <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="/">I Found a Rock</a>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav mr-auto">
          <%= link "Offroad Trails", to: trail_path(@conn, :index),
                                    class: "nav-item nav-link" %>
          <a class="nav-item nav-link disabled" href="#">Camping</a>
          <a class="nav-item nav-link disabled" href="#">Hiking</a>
        </div>

        <div class="navbar-nav">
        <%= if @current_user do %>
          <span class="nav-item nav-link">Hi, <%= @current_user.username %></span>
          <span class="nav-item nav-link"> / </span>
          <%= link "Sign Out", to: session_path(@conn, :delete, @current_user),
                               method: "delete",
                               class: "nav-item nav-link" %>
        <% else %>
          <%= link "Sign In", to: session_path(@conn, :new),
                              class: "nav-item nav-link" %>
          <span class="nav-item nav-link"> / </span>
          <a class="nav-item nav-link disabled" href="#">Sign Up</a>
        <% end %>
        </div>
      </div>
    </nav>

    <div id="photo-break" style="background-image: url('/images/banner.jpg');"></div>

    <div class="container flash-info-error">
      <%= if info = get_flash(@conn, :info) do %>
      <p class="alert alert-info" role="alert"><%= info %></p>
      <% end %>

      <%= if error = get_flash(@conn, :error) do %>
      <p class="alert alert-danger" role="alert"><%= error %></p>
      <% end %>
    </div>

    <main role="main">
      <%= render @view_module, @view_template, assigns %>
    </main>

    <hr class="footer">

    <div class="container">
      <footer>
        <p>&copy; I Found A Rock <%= Date.utc_today.year %>
      </footer>
    </div>

    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
